*{
  margin: 0px;
  padding: 0px;
}

.container{
  display: flex;
}
.main-heading{
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 20px;
}

.editor{
  width: 50vw;
}


.preview{
  width: 50vw;
  height: 100vh;
  border-left: 1px solid #000;
  padding: 20px;
}

.react-quill{
  height: 50vh;
  width: 40vw;
  margin: 30px;
}


.btn{
  margin: 40px;
  background-color: #0070c1;
  width: 80px;
  height: 45px;
  color: white;
  border-width: 0px;
  border-radius: 5px;
}

.preview-content {
  font-family: inherit; 
}